*{margin:0; padding:0; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url("about-me.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.name{
    position: fixed;
    margin-left: 20px;
    margin-top: 20px;
    font-family: 'Dosis';
    font-size: 24px;
    z-index: 2;
}

section {
    width: 100%;
    float: left;
    height: 100vh;
    max-height: 100vh;
}


.shadow-drop-center {
	-webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* Navigation Bar */
nav{
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: whitesmoke;
}

ul {
    width: fit-content;
    height: 70px;
    margin: auto;
    list-style: none;
}

ul li{
    float: left;
    margin-right: 30px;
    padding-top: 25px;
}

ul li a{
    color: darkslategrey;
    font-size: 18px;
    text-decoration: none;
}

ul li a:hover{
    text-decoration: underline;
}

/* Header */

h1 {
    text-align: center;
    display: block;
    color: white;
    font-size: 36px;
    padding-top: 15vh;
    width: fit-content;
    margin: auto;
}


.info {
    width: auto;
    max-width: 800px;
    margin: auto;
    height: fit-content;
    min-height: 20vh;
    max-height: 85vh;
    background: rgba(233, 235, 227, 0.8);
    margin-top: 20px;
}


.text{ 
    font-size: 20px;
    padding: 30px;
}

.profile {
    display: block;
    margin: auto;
    height: auto;
    max-height: 50vh;
}

.projects {
    width: 80vw;
    margin: auto;
}

.projects tr th {
    width: auto;
    display: inline-flex;
    max-width: 36vw;
    height: fit-content;
    min-height: 20vh;
    max-height: 25vh;
    padding: 1vh;
    background: rgba(233, 235, 227, 0.8);
    margin-top: 2vh;
}

.projects tr th:hover{
    -webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

.left{
    margin-right: 4vw;
}

.projpic{
    max-width: 15vw;
    width: auto;
    height: auto;
    margin:auto;
    display: block;
}

#about-me {

}

#projects {
    background-color: burlywood;
    opacity: 0.8;
}

#contact {
    
}

/* dosis-regular - latin */
@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/dosis-v17-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/dosis-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/dosis-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/dosis-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/dosis-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/dosis-v17-latin-regular.svg#Dosis') format('svg'); /* Legacy iOS */
  }

  /* ----------------------------------------------
 * Generated by Animista on 2020-3-15 11:48:33
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-drop-center
 * ----------------------------------------
 */
@-webkit-keyframes shadow-drop-center {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }
  @keyframes shadow-drop-center {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }

  /* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1000px) {
    body {
      background-attachment: scroll;
    }
  }
  