* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url("bkgnd.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main {
    text-align: center;
}

section {
    width: 100%;
    float: left;
    height: 100vh;
    max-height: 100vh;
}

.shadow-drop-center {
    -webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* Header */

h1 {
    text-align: center;
    color: white;
    font-size: 60px;
    margin: auto;
    font-family: Century Gothic;
    font-weight: normal;
    font-style: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.hello {
    font-size: 200px;
    font-family: inherit;
    font-weight: bold;
    font-style: normal;
}

.flashing {
    background-color: transparent;
    border: none;
    outline: none;
    color: black;
    animation-name: flashing;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: absolute;
    top: 90%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.flashing img {
    height: 120px;
    width: auto;
}

@keyframes flashing {
    0% {
        opacity: 1.0;
    }
    25% {
        opacity: 0.6;
    }
    50% {
        opacity: 0.3;
    }
    75% {
        opacity: 0.6;
    }
    100% {
        opacity: 1.0;
    }
}


@keyframes fade-in {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1.0;
    }
}

.resume-head {
    border-radius: 20;
    background-color: white;
    width: 30%;
    margin: auto;
    margin-top: 10%;
}

@-webkit-keyframes shadow-drop-center {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}

@keyframes shadow-drop-center {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */

@media only screen and (max-device-width: 1000px) {
    body {
        background-attachment: scroll;
    }
}